<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="fw-bold text-primary">Tableau de bord Produits</h2>
    <button class="btn btn-success" (click)="addProduct()">
      <i class="bi bi-plus-lg"></i> Ajouter un produit
    </button>
  </div>
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="card text-center shadow bg-success">
        <div class="card-body">
          <h5 class="card-title text-white">Nombre de produits</h5>
          <span class="badge bg-white text-success fs-4">{{ products.length }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="card shadow">
    <div class="card-header bg-dark text-white">
      Liste des Produits
    </div>
    <div class="card-body p-0">
      <table class="table table-striped align-middle mb-0">
        <thead class="table-dark">
          <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Catégorie</th>
            <th>Stock</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }} FCFA</td>
            <td>{{ product.category }}</td>
            <td>{{ product.stock }}</td>
            <td class="action-icons">
              <i class="bi bi-eye text-primary fs-5 me-2" (click)="viewProduct(product.id)"></i>
              <i class="bi bi-pencil-square text-warning fs-5 me-2" (click)="editProduct(product.id)"></i>
              <i class="bi bi-trash text-danger fs-5" (click)="deleteProduct(product.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>