body { padding-top: 70px; }
.container { max-width: 960px; }
.navbar { margin-bottom: 20px; }
.navbar-brand { font-size: 24px; }
.navbar-nav > li > a { padding: 15px 20px; }
.navbar-nav > li > a:hover { background-color: #f8f9fa;
    color: #343a40; }
.navbar-brand {
  font-size: 2.5rem !important; /* agrandir le titre */
}

.navbar-nav .nav-link {
  font-size: 1.8rem !important; /* agrandir les liens */
}
.action-icons i {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 12px;
  transition: transform 0.2s ease-in-out;
}

.action-icons i:hover {
  transform: scale(1.2);
}

.action-icons .view {
  color: #2e86de !important; /* bleu */
}

.action-icons .edit {
  color: #ff4081 !important; /* rose */
}

.action-icons .delete {
  color: #e74c3c !important; /* rouge */
}


